<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
   
</head>

<body>
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert-error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{ message }}</strong>
        </div>
    {% elif message.tags == 'success' %}
        <div class="alert-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
{% endfor %}

    <div class="admin_html">
        
        <div class="admin_div maclar_input" id="tum_maclar">
            <h2>Tüm Maçlar</h2>
            <form class="admin_form" action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file">İşlem Yapılacak Dosya</label>
                <input type="file" name="file" id="file" required>
                <input type="text" name="content" hidden value="mac">
                <button type="submit">Import</button>
                <button onclick="getcsv('mac')" >Export</button>
            </form>
            
            
        </div>
        <div class="admin_div koclar_yorum" id="tum_maclar">
            <h2>Koçlar Yorum</h2>
            <form class="admin_form" action="{% url 'contact' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file">İşlem Yapılacak Dosya</label>
                <input type="file" name="file" id="file" required>
                <input type="text" name="content" hidden value="post">
                <button type="submit">Import</button>
                <button onclick="getcsv('post')">Export</button>
            </form>
        </div>
        
    </div>
    <script>

        function getcsv(content)
        {
            event.preventDefault();
            console.log("evet");
            window.location.href = "{% url 'contact' %}?content="+content;
            console.log("hayır");
        }

    </script>
</body>
{% endblock content %}
</html>