<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>DecoyBet</title>
</head>
<body>
<div class="advertisement1" onclick="window.location.href = '/gain_1M$.com';">
    <div class="slider1">
        <div class="slider-content1">
            <div class="slider-item1">
                <img src="{% static 'pictures/f4.jpg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam6.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam8.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam7.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam5.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam3.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam2.jpeg' %}" alt="">
            </div>
            <div class="slider-item1">
                <img src="{% static 'pictures/reklam1.jpeg' %}" alt="">
            </div>
        </div>
    </div>
</div>
    <h1 style="width: 100%; display: flex;margin-top: 5vh; justify-content: center; color: pink;">Maçlar</h1>
    <div class="search-bar bahisler-search-bar">
        <input type="text" name="mac-filter-name" id="mac-filter-name">
        <button onclick="filter_mac()" >&#128269</button>
    </div>
    <div class="bahisler">
        <table>
            <tr class="mac-info">
                <td class="mac-no">No</td>
                <td class="mac-bahis-sayisi">MBS</td>
                <td class="mac-tarih">Tarih</td>
                <td class="mac-isim">Maçlar</td>
                <td class="mac-oran">1</td>
                <td class="mac-oran">0</td>
                <td class="mac-oran">2</td>
            </tr>
            {% if matches|length != 0 %}
                {% for mac in matches %}
                    <tr class="maclar">
                        <td>{{ mac.id }}</td>
                        <td>{{ mac.minumum_bet_amount }}</td>
                        <td>{{ mac.match_date }}</td>
                        <td>{{ mac.team1 }} - {{ mac.team2 }}</td>
                        <td class="hover-black" onclick="updateOran('{{ mac.odds_team1 }}', '{{ mac.id }}', 1, '{{user.balance}}', '{{ mac.team1 }} - {{ mac.team2 }}')"> {{ mac.odds_team1 }} </td>
                        <td class="hover-black" onclick="updateOran('{{ mac.odds_draw }}', '{{ mac.id }}', 0, '{{user.balance}}', '{{ mac.team1 }} - {{ mac.team2 }}')" > {{ mac.odds_draw }} </td>
                        <td class="hover-black" onclick="updateOran('{{ mac.odds_team2 }}', '{{ mac.id }}', 2, '{{user.balance}}', '{{ mac.team1 }} - {{ mac.team2 }}')"> {{ mac.odds_team2 }} </td>       
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="maclar">
                    <td><strong>Maç Bulunamadı!</strong></td>
            {% endif %}
        </table>
    </div>
</body>
<script>
    function filter_mac()
    {
        var mac_filter_name =  document.getElementById("mac-filter-name").value;
        if (mac_filter_name)
            window.location.href = "{% url 'bahisler' %}?name=" + mac_filter_name;
    }
</script>
{% include 'kupon_form.html' %}
{% endblock content %}
</html>