<!DOCTYPE html>
<html lang="en"> 
<head>
     <meta charset="UTF-8">
     <title>DecoyBet</title>
 </head>

 {% extends "style_sheet.html" %}
 {% load static %}
 {% block styled %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<body>
    <header>
<div class="menu-container">
    <ul class="navbar">
          <li><img src="{% static 'pictures/Decoy.png' %}" alt="logo" style="width: 100%;"></li>
          <li><a href="{% url 'homepage' %}"><i class="fa-solid fa-house"></i>Ana Sayfa</a></li>
          <li style="margin-bottom: 12px;"><a href="{% url 'bahisler' %}">Popüler Bahisler</a></li>
          <li><a onclick="goToGames()">Oyunlar</a></li>
          <li><a href="{% url 'koclar' %}">Koçlar</a></li>

          {% if user.is_authenticated %}
               <li style="float: right; padding: 0; margin: 0;">
                    <img src="{% static 'pictures/profile_pic.png'%}" alt="profile_button" onclick="toggleDropdown()" style="height: 70%; aspect-ratio: 1;">             
               </li>
               {% if user.is_staff %}
                    <li style="float: right;"><a href="{% url 'modCall' %}">Moderasyon sayfası</a></li>

               {% elif user.is_coach %}
                    <li style="float: right;"><a href="{% url 'coachCall' %}">Post sayfası</a></li>

               {% else %}
                    <li style="float: right;">Bakiye:{{user.balance}}</li>

               {% endif %}
          {% else %}
               <li style="float: right;"><a onclick="toggleRegisterForm()">Üye ol</a></li>
               <li style="float: right;"><a onclick="toggleLoginForm()">Giris Yap</a></li>

          {% endif %} 
               <li style="float: right;"><a href="{% url 'iletisim' %}">Hakkımızda</a></li>
               <li style="float: right;"><a onclick="toggleMusic()">&#9834;</a></li>
                         
     </ul>
     <div class="dropdown-content" id="drop-down-list">
          <ul>
               <li><a href="{% url 'kuponCall' %}">Kuponlarım</a></li>
               <li><a onclick="toggleResetPassword()">Şifremi Sıfırla</a></li>
               <li style="border-top: 1px solid #ccc;"><a href="{% url 'logoutCall' %}">Çıkış Yap</a></li>
          </ul>
     </div>
</div>

</header>
{% include 'login_form.html' %}
{% include 'register_form.html' %}
{% include 'reset_password_form.html' %}
<script>
     function toggleRegisterForm()
     {
          var registerForm = document.getElementById('register-form');
          registerForm.style.display = registerForm.style.display == 'flex' ? 'none': 'flex';
     }
     function toggleLoginForm()
     {
          var loginForm = document.getElementById('login-form');
          loginForm.style.display = loginForm.style.display == 'flex' ? 'none': 'flex';
     }
     function switchForm()
     {
     toggleLoginForm();
     toggleRegisterForm();
     }
     function toggleDropdown()
     {
          var Dropdown = document.getElementById('drop-down-list');
          Dropdown.style.display = Dropdown.style.display == 'block' ? 'none': 'block';
     }
     function toggleResetPassword()
     {
          var resetPasswordForm = document.getElementById('reset-password-form');
          resetPasswordForm.style.display = resetPasswordForm.style.display == 'flex' ? 'none': 'flex';
     }
     function goToGames()
     {
     if( window.location.pathname!=="/")
     {
          window.location.href = "/";
     }
     else
     {
          document.querySelector('#container-games').scrollIntoView({ behavior: 'smooth' });
     }
     }
     let music = new Audio("{% static 'sounds/decoybet.mp3' %}");
     music.loop = true;
     function toggleMusic()
     {
     if(music.paused)
     {
          music.play();
     }
     else
     {
          music.pause();
     }
     }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
     $('#login-form-form').on('submit', function(event){
          event.preventDefault();
          var $form = $(this);
          $.ajax({
          type: $form.attr('method'),
          url: $form.attr('action'),
          data: $form.serialize(), 
          success: function(response)
          {
               if (response.error) {
                    $('#login-error-message').text(response.error).show();
               } 
               else 
               {
                    window.location.href = response.redirect_url;
               }
          },
          error: function()
          {
               $('#login-error-message').text('An error occurred. Please try again.').show();
          }
          });
     });
});
</script>
<script>
     $(document).ready(function(){
          $('#register-form-form').on('submit', function(event){
               event.preventDefault();
               var $form = $(this);
               $.ajax({
               type: $form.attr('method'),
               url: $form.attr('action'),
               data: $form.serialize(), 
               success: function(response)
               {
                    if (response.error) {
                         $('#register-error-message').text(response.error).show();
                    } 
                    else 
                    {
                         window.location.href = response.redirect_url;
                    }
               },
               error: function()
               {
                    $('#register-error-message').text('An error occurred. Please try again.').show();
               }
               });
          });
     });
     </script>
<script>
     $(document).ready(function(){
          $('#reset-password-form-form').on('submit', function(event){
               event.preventDefault();
               var $form = $(this);
               $.ajax({
               type: $form.attr('method'),
               url: $form.attr('action'),
               data: $form.serialize(), 
               success: function(response)
               {
                    if (response.error) {
                         $('#reset-password-error-message').text(response.error).show();
                    } 
                    else 
                    {
                         window.location.href = response.redirect_url;
                    }
               },
               error: function()
               {
                    $('#reset-password-error-message').text('An error occurred. Please try again.').show();
               }
               });
          });
     });
     </script>

 {% block content %}  {% endblock content %}    
</body>
 {% endblock styled %}
</html>