<!DOCTYPE html>
<html lang="en">
{%extends "header.html"%}
{% block content%}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="hresim">
        <img src="{% static 'pictures/gurup_photo.png' %}" alt="">
    </div>

    <div class="hakkimizda">

        <h1 style="font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif;"> &nbsp; &nbsp;Decoy Bet.com
        </h1>
        <p>Decoy Bet 23 Nisan 2024 kuruluşlu Sanal Bahis Sitesidir. Amacımız, futbol
            kuponları  yapma veya çeşitli sanal oyunlar oynama imkanı sunarak insanların hem eğlenip hem de para
            kazanmalarını sağlamaktır.</p> 
        <p>Müşteri memnuniyeti ve güvenilirlik ilkeleriyle hareket ediyoruz. İnsanlara heyecan verici bir oyun deneyimi 
            sunmayı ve aynı zamanda kazanç elde etmelerini desteklemeyi hedefliyoruz. Sitemizde <br>herkesin keyifli vakit
            geçireceği çeşitli bahis seçenekleri ve oyunlar bulunmaktadır.
            Yeni ve heyecan verici bir bahis deneyimi için bizi tercih edin ve kazanmaya başlayın.</p>
       

    </div>

</body>
{% endblock content %}

</html>