<div id="kupon-form">
    {% if user.is_authenticated %}
     <button id="kupon-toggle" onclick="toggleKuponForm()">&#11165; Kuponum</button>
     <div class="kupon">
         <form id="kupon-form-form" action="{% url 'kuponCall' %}" method="post">
             <div class="kupon-cerceve">
                 <select id="kupon_maclar" class="kupon_maclar"></select>
                 <label for="Oran">Oran:</label>
                 <h3 id="Oran">1</h3>
             </div>
             {% csrf_token %}
             <label for="Sistem" style="color: aliceblue;">Sistem:</label>
             <div class="flex-container">
                 <button id="system-button-1" type="button" disabled onclick="toggleSistem(1)">1</button>
                 <button id="system-button-2" type="button" onclick="toggleSistem(2)">2</button>
             </div>
             <label for="Tutar"><span style="color: aliceblue;">Tutar:</span></label> 
             <input id="Tutar" type="number" step="0.1" name="Tutar" value="1.00" required>
             <label for="Sayi"><span style="color: aliceblue;">Kupon Sayisi:</span></label>
             <input id="Sayi" type="number" name="Sayi" value="1" required>
             <label for="Kazanc"><span style="color: aliceblue;">Kazanacağınız Para:</span></label>
             <h3 id="Kazanc" style="color: aliceblue;">Lütfen değer girin</h3>
             <input id="send-oran" name="send-oran" type="hidden" value="">
             <input id="send-kazanc" name="send-kazanc" type="hidden" value="">
             <input id="send-dict" name="send-dict" type="hidden" value="">
             <button onclick="myFunction()" id="kupon-onay" disabled><p>Onayla!</p></button>
         </form>
     </div>
     {% endif %}
 </div>
 <script>
     var systembutton1 = document.getElementById('system-button-1');
     var systembutton2 = document.getElementById('system-button-2');
     function toggleSistem(x)
     {
         if(x==1)
         {
             systembutton1.disabled = true;
             systembutton2.disabled = false;
         }
         else if(x==2)
         {
             systembutton2.disabled = true;
             systembutton1.disabled = false;
         }
     }
     function toggleKuponForm()
     {
         var kuponForm = document.getElementById('kupon-form');
         if(kuponForm.style.bottom == "-70vh")
         {
             kuponForm.style.bottom = "0vh";
         }
         else
         {
             kuponForm.style.bottom = "-70vh";
         }
     }
     var oran = 1.00;
     var oranOutput = document.getElementById('Oran');
     var oynanan_maclar = {};
     function updateOran(value, mac_id, team, user_balance, mac_name)
     {
         value = value.replace(',', '.').trim();
         if(mac_id in oynanan_maclar)
         {
             if(oynanan_maclar[mac_id][0] == team)
             {
                 oran /= oynanan_maclar[mac_id][1];
                 delete oynanan_maclar[mac_id];
             }
             else
             {
                 oran /= oynanan_maclar[mac_id][1];
                 oran *= value;
                 oynanan_maclar[mac_id][0] = team;
                 oynanan_maclar[mac_id][1] = value;
             }
         }
         else
         {
             oran *= value;
             oynanan_maclar[mac_id] = [team, value, mac_name];
         }
         oran = oran.toFixed(2);
         var kupon_maclar = document.getElementById('kupon_maclar');
         kupon_maclar.innerHTML = '';
         for (var mac_id in oynanan_maclar)
         {
             if (oynanan_maclar.hasOwnProperty(mac_id))
             {
                 var values = oynanan_maclar[mac_id];
                 const newOption = document.createElement('option');
                 newOption.text = "⚽️ " + values[2]
                 kupon_maclar.add(newOption);
                 const newOption_description = document.createElement('option');
                 newOption_description.text = "Oynan takım: " + values[0] + " Oran: " + values[1];
                 newOption_description.disabled=true;
                 kupon_maclar.add(newOption_description);
                 const newOption_space = document.createElement('option');
                 newOption_space.disabled=true;
                 kupon_maclar.add(newOption_space);
             }
         }
         oranOutput.textContent = oran.toString();
         updateKazanc(parseFloat(user_balance));
     }
     var tutarInput = document.getElementById('Tutar');
     var sayiInput = document.getElementById('Sayi');
     var kazancOutput = document.getElementById('Kazanc');
     var button = document.getElementById('kupon-onay');
     function updateKazanc(user_balance)
     {
         var tutar = parseFloat(tutarInput.value);
         var sayi = parseInt(sayiInput.value);
         var kazanc = (tutar * sayi * oran).toFixed(2);
         if(tutar <= 0)
         {
             kazancOutput.textContent = "Tutar 0'dan büyük olmalı!";
             button.disabled = true;
         }
         else if(sayi <= 0)
         {
             kazancOutput.textContent = "Sayi 0'dan büyük olmalı!";
             button.disabled = true;
         }
         else if(oran == 1)
         {
             kazancOutput.textContent = "Oran 1'den büyük olmalı!";
             button.disabled = true;
         }
         else
         {
             kazancOutput.textContent = kazanc;
             if(user_balance < tutar)
             {
                 button.disabled = true;
                 kazancOutput.textContent = "Yeterli Bakiyen yok!";
             }
             else
             {
                 button.disabled = false;
             }
         }
     }
     tutarInput.addEventListener('input', updateKazanc);
     sayiInput.addEventListener('input', updateKazanc);
     var send_oran = document.getElementById('send-oran');
     var send_kazanc = document.getElementById('send-kazanc');
     var send_dict = document.getElementById('send-dict');
     function myFunction()
     {
         event.preventDefault();
         send_oran.value = oran;
         send_kazanc.value = (parseFloat(tutarInput.value) * parseInt(sayiInput.value) * oran).toFixed(2);
         const jsonData = JSON.stringify(oynanan_maclar);
         send_dict.value = jsonData;
         document.getElementById("kupon-form-form").submit();
     }
 </script>
 