{% load static %}
    <h1 class="oyunlar-baslik">Editorlerden Seçimler</h1>
<div class="container-games" id="container-games">
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble1.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble20.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble3.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble4.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble5.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble6.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble7.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble8.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble9.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble10.jpeg' %}" alt=""></a></div>
    
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble11.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble12.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble13.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble14.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble15.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble16.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble17.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble18.jpeg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble19.jpeg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'the_reklam' %}"><img class="imga" src="{% static 'pictures/gamble2.jpeg' %}" alt=""></a></div>
</div>