{% extends "header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>

<body>
{% for message in messages %}
    {% if message.tags == 'error' %}
        <div class="alert-error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{ message }}</strong>
        </div>
    {% elif message.tags == 'success' %}
        <div class="alert-success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>{{ message }}</strong>
        </div>
    {% endif %}
{% endfor %}

<div class="alert" id="error-message" style="display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>En az 1 maç seçiniz!</strong>
</div>
<div class="card">
    <div class="content">
        <span class="title">DecoyBet.com Koçun Mesajı</span>

        <div class="desc">Takipçilerinizle haftanın maçları hakkında görüşlerinizi paylaşın! Analiz yapın,
            tahminlerinizi belirtin. Başarılı tahminlerinizde üst sıralara çıkacağınız gibi tersi durumu da
            unutmayın. Olağan dışı bir durumda adminin müdahale hakkı bulunmaktadır. 
        </div>

        <form id="post-form" action="{% url 'coachCall' %}" method="post" onsubmit="return post_post()">
            {% csrf_token %}

            <textarea id="post_text" name="post_text" placeholder="Mesajiniz:"></textarea> <br><br>

            <label style="color: white; float: left;" for="match_tag_select">Postununz ilgili olduğu maçları seçin!
                <br>Birden fazla seçmek için ctrl tuşuna basın!<br>
            </label>
            
            <select name="match_tag_select" id="match_tag_select" class="notnow" multiple size="4">
                {% for mac in match_tags %}
                <option value="{{mac.id}}">{{mac.team1}} vs {{mac.team2}}</option>
                {% endfor %}
            </select>

            <div class="actions">
                <div>
                    <button type="submit" class="notnow">Gönder</button> <br><br><br><br>
                </div>
            </div>

        </form>

    </div>
</div>
</body>
<script>
    function post_post()
    {
        var match_tag_select = document.getElementById("match_tag_select");
        var match_tags = Array.from(match_tag_select.selectedOptions);
        if (match_tags.length < 1)
        {
            document.getElementById('error-message').style.display = 'block';
            return false;
        }
        document.getElementById('error-message').style.display = 'none';
    }
</script>
{% endblock content %}

</html>