<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="posts-html">
        <div class="search-bar">
            <select class="post-select" name="match_tag_select" id="match_tag_select">
                {% for mac in match_tags %}
                <option value="{{mac.id}}">{{mac.team1}} vs {{mac.team2}}</option>
                {% endfor %}
            </select>
            <button class="post-search-btn" onclick="filter_posts('{{coach}}')" >&#128269</button>
            </div>
            <ul>
            {% for post in posts %}
                <li class="post-li-item">
                    <h3>Yazar: {{post.Coach.Kullanici.first_name}} {{post.Coach.Kullanici.last_name}}</h3>
                    <h4>İlgili maçlar:
                        {% for mac in post.match_tag.all %}
                        {{mac.team1}} vs {{mac.team2}}, 
                        {% endfor %}
                    </h4>
                    <p>{{post.text}}</p>
                </li>
            {% endfor %}
           </ul> 
    </div>
</body>
<script>
    function filter_posts(coach)
    {
        var mac_id =  document.getElementById("match_tag_select").value;
        if(coach != "None")
        {
            window.location.href = "{% url 'postCall' %}?Coach=" + coach + "&match_tag=" + mac_id;
        }
        else
        {
            window.location.href = "{% url 'postCall' %}?match_tag=" + mac_id;
        }
    }
</script>
{% endblock content %}
</html>