{% load static %}
<div id="register-form">
    <div class="sign_image">
        <img style="width: 380px; height: 700px; border-radius: 0.75rem;" src="{% static 'pictures/gamble17.jpeg' %}" alt="">
        <div class="form-container1">
            <h1 class="title">DecoyBet.com &nbsp;&nbsp;<span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: azure;">kaydol</span></h1>
            <form id="register-form-form" class="form1"  method="post" action="{% url 'registerCall' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="register-username">Kullanıcı Adı</label>
                    <input type="text" name="register-username" id="register-username" placeholder="">
                </div>
                <div class="input-group">
                    <label for="first-name">İsim</label>
                    <input type="text" name="first-name" id="first-name" placeholder="">
                </div>
                <div class="input-group">
                    <label for="last-name">Soyisim</label>
                    <input type="text" name="last-name" id="last-name" placeholder="">
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="">
                </div>
                <div class="input-group">
                    <label for="register-password">Parola</label>
                    <input type="password" name="register-password" id="register-password" placeholder="">
                </div>
                <div class="input-group">
                    <label for="confirm-password">Parola Doğrulama</label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="">
                </div>
                <br><br>
                <div id="register-error-message" style="color: red; display: none; font-size: large;"></div>
                <button type="submit" class="sign">Onayla</button>
            </form>
            <p class="signin">Zaten bir hesabın var mı? <a onclick="switchForm()">Giriş yap</a> </p>
            <button style="color: aqua; background-color: black;" onclick="toggleRegisterForm()">&times;</button>
        </div>
    </div>
</div>

