{% load static %}
<div id="reset-password-form">
    <form id="reset-password-form-form" class="form1" method="post" action="{% url 'resetPasswordCall' %}" >
        {% csrf_token %}
        <button style="color: aqua;  background-color: black; width: 10%; height: auto; border-radius: 10px; margin-left: 90%; margin-bottom: 5%;"onclick="toggleResetPassword()">&times;</button>
        <label for="reset-new-password"><strong>Yeni Şifre</strong></label>
        <input id="reset-new-password" name="reset-new-password" type="password">

        <label for="reset-confrim-password">Yeni Şifre onay</label>
        <input id="reset-confrim-password" name="reset-confrim-password" type="password">

        <label for="reset-old-password">Eski Şifre</label>
        <input id="reset-old-password" name="reset-old-password" type="password">

        <div id="reset-password-error-message" style="color:rgb(255, 255, 255); background-color: rgb(0,0,0,0.05); display: none; font-size:xx-large; margin-bottom: 1%;"></div>

        <button type="submit" class="sign">Onayla</button>

        
    </form>
</div>